<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>¡Regístrate!</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

 <ion-list [formGroup]="Registro">


    <ion-item>
      <ion-label floating>Nombre</ion-label>
      <ion-input formControlName="nombre" type="text" #nombre [(ngModel)]="member.name"></ion-input>
    </ion-item>
	  <ion-item *ngIf="Registro.get('nombre').errors && Registro.get('nombre').dirty">
      	<p color="danger" *ngIf="Registro.get('nombre').hasError('required')">Tienes que llenar este campo</p>
    </ion-item>

    <ion-item>
      <ion-label floating>Apellido</ion-label>
      <ion-input formControlName="apellido" type="text" #apellido [(ngModel)]="member.lastname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Correo Electrónico</ion-label>
      <ion-input formControlName="email" type="email" #email [(ngModel)]="member.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Número de Teléfono</ion-label>
      <ion-input formControlName="telefono" type="number" pattern="[0-9]*" #telefono [(ngModel)]="member.phonenumber" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Nombre de Usuario</ion-label>
      <ion-input formControlName="usuario" type="text" #username [(ngModel)]="member.username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Contraseña</ion-label>
      <ion-input formControlName="password" type="password" #password [(ngModel)]="member.password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Repite la contraseña</ion-label>
      <ion-input formControlName="passwordConfirmation" type="password" #password2 ></ion-input>
    </ion-item>

    <ion-item *ngIf="Registro.get('password') && Registro.get('passwordConfirmation')">
      <p color="Danger" *ngIf="Registro.get('password').value!=Registro.get('passwordConfirmation').value">Las contraseñas no coinciden</p>
    </ion-item>

      <button ion-button color="primary" block (click) = "addMember(member)">Registrarse</button>

  </ion-list>



</ion-content>
